---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

### Indentation
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: true
IndentPPDirectives: None

### Column limit
ColumnLimit: 89

### Braces and blocks
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

### Functions, templates, constructors
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: AllDefinitions
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true

### Pointers and references
PointerAlignment: Right
DerivePointerAlignment: false

### Includes
SortIncludes: false
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^<qb/.*>'
    Priority: 2
  - Regex: '^".*"'
    Priority: 3
  - Regex: '.*'
    Priority: 4


### Alignments
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true

### Comments and spacing
ReflowComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
EmptyLineBeforeAccessModifier: Always
AlignEscapedNewlines: Left